<div class="post_body">
  <%=render partial: 'partials/post_expanded', locals: { post:@post, user: @user }%>
  <%= form_with url: "/users/#{@user.id}/posts/#{@post.id}/likes" do |like|%>
  <%=like.submit "Like Post"%>
  <% end %>
  <div class="post_comments">
  <div>Comments </div>
    <%@comments.each do |comment|%>
      <div><%="#{comment.user.name}: #{comment.text}"%></div>
      <%if can? :manage, comment%>
      <%= button_to "Delete Comment", user_post_comment_path(comment.user_id, comment.post_id, comment.id), method: :delete %>
      <%end%>
    <%end%>
  </div>
<button type='button'><%= link_to "Comment", new_user_post_comment_path(@user, @post) %></button>
</div>
 <%if can? :manage, @post%>
 <%= button_to "Delete Post", "/users/#{@user.id}/posts/#{@post.id}", method: :delete %>
<%end%>
